body {
    background-image: url('img/background.jpg');
}

.cream {
    background-color: FloralWhite;
    padding: 20px;
}

.border {
    border-bottom-style: solid;
    border-color: YellowGreen;
    border-width: medium;
    padding-bottom: 10px;
    margin-bottom: 28px;
}

#form {
    background-color: FloralWhite;
    padding: 20px;
}

.green{
    background-color: YellowGreen;
}

#link{
    background-color: White
}

#today-market-map, #indiv-market-map, #all-markets-map, #vendors-markets-map {
    height: 400px;
    width: 400px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/****************************FLIP CARD CSS************************************/

.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
   position: relative;
   margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  /*z-index: 2;*/
  font-family: Georgia;
  font-size: 2em;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: YellowGreen;
  color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 200px;
}
.flip .card .back {
    /*background-color: YellowGreen;*/
    background-image: url('/static/img/barn.jpg');
    cursor: pointer;
    
  transform:rotatey(-180deg);
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
}

