{% extends 'base.html' %}
{% block content %}


<head>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
</head>

<div class="flip"> 
    <div class="front"> 
        <img src="https://cdn1.medicalnewstoday.com/content/images/articles/318/318601/avocado-sliced.jpg" alt="">
    </div> 
    <div class="back">
        <h3>Melonzzzzz!</h3>
    </div> 
</div>

<script>

$(function(){
    $(".flip").flip({
        trigger: 'hover'
    });
});
</script>


{% endblock %}