{% extends 'base.html' %}
{% block content %}
<html>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/flip.js"></script>

<div class="container-fluid">
    <div id='row'>
        {% for vendor in vendors %}
            <div class="col-xs-4">
                <div class="flip"> 
                  <div class="card"> 
                    <div class="face front" style="background-image: url('/static/img/Flip/{{ vendor.vendor_name }}.jpg');">
                        {{ vendor.vendor_name }}
                    </div> 
                    <div class="face back" data-vendorid={{ vendor.vendor_id }}>
                        {{ vendor.vendor_commodity }}

                    </div> 
                  </div> 
            </div>
            </div>   
        {% endfor %}
    </div>
</div>

</html>

{% endblock %}