{% extends 'base.html' %}
{% block content %}
<head>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYanwYmEgnTNrEr42tDxegSIPvGOSj6qU">
</script>
<script src="/static/marketMap.js"></script>
<script src="/static/mapstyles.js"></script>
</head>

<div class="container-fluid">
    <h1> Markets </h1>
    <p>List of all Markets in our database:</p>
    
    <div class="row">
        <div class="col-xs-4">
            <ul>
                <!--Lists all markets in markets table and allows each name to be a clickable link leading to the market profile page-->
                {% for market in markets %}
                  <li><a href="/markets/{{ market.market_id }}">{{ market.market_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6">
            <div id="market-map"></div>
        </div>
    </div>
</div>
{% endblock %}
